todo_list.md
.DS_Store
__pycache__

# Ignore the result outut of project Digital Twin Communication Architecture.
transport-digital-twin-communication-architecture/consumed_topics/
transport-digital-twin-communication-architecture/test_results/

Code_submit_Digital_Twins_Framework_For_Motorways/fulloutput.xml
Code_submit_Digital_Twins_Framework_For_Motorways/statistic.xml
Code_submit_Digital_Twins_Framework_For_Motorways/tripinfo.xml

